/*done by Coderiver.com.ua */
.panel-radar .list-group-item > .glyphicon { margin-right: 5px; vertical-align: top; display: inline-block; }
.panel-radar .list-group-item > a { vertical-align: middle; display: inline-block; width: 70%; }
.panel-radar .list-group-item.active { color: white; background: #418bca; }
.panel-radar .list-group-item.active a { color: white; }
.panel-radar .table { margin-bottom: 0; margin-top: 8px; }
.panel-radar .table td:first-child { padding-left: 19px; }
