$blue: #095393
$lite: #A0ADB7
$gol: #199DDB
.navbar-fixed-toppest 
	background: url(../img/bg.jpg) repeat-x 0 0
	+background-size(auto 100%)
	height: 25px
	line-height: 25px
	margin: 0
	min-height: 25px    
	color: #fff
	font-size: 11px  
	.navbar-brand 
		+hide-text
		+s(ford)
		margin: 0 10px 
	.navbar-nav>li>a
		color: #fff 
		&:hover
			color: #2D96CD 
	.navbar-text
		color: #fff 
	a
		color: #fff 
.navbar-fixed-top1
	height: 40px
	min-height: 40px 
	.navbar-nav>li>a
		padding-top: 10px !important
		padding-bottom: 10px !important
	.navbar-brand 
		+hide-text
		+s(ford)
		position: relative
		top: -14px 
		margin: 0 10px 
.panel
	.panel-heading
		background: $blue 
		a
			color: #fff
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th
	background: $lite 
.panel-radar .list-group-item.active
	background: $gol


